@use 'colors' as *;

.aside-bar-container {
    background-color: $color-bg;
    min-width: 20vw;
    height: 100vh;
}
.header {
    padding: 20px;
    margin-bottom: 20px;

    .header__avatar {
        width: 75px;
        height: 75px;
    }

    .header__avatar-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
    }

    .header__user-info {
        padding-bottom: 40px;
        border-bottom: 4px solid $color-content;
        display: grid;
        grid-template-areas:
            'avatar username'
            'avatar userstatus';
    }

    .header__userName {
        grid-area: username;
        align-self: end;

        color: $active-menu-item;
        font-weight: 500;
        font-size: 16px;
    }

    .header__status {
        grid-area: userstatus;
        color: $color-content;
        font-size: 24px;
    }

    .header__status:hover::after {
        content: '🍎';
    }

    .header__avatar {
        grid-area: avatar;
    }
}

.aside-bar__main {
    padding: 20px;
}

@mixin btn-style($svg-link, $active: null) {
    font-size: 24px;
    color: if($active, $active-menu-item, $none-active-menu-item);

    &::before {
        content: '';
        display: inline-flex;
        background-image: url($svg-link);
        height: 24px;
        width: 24px;
        margin-right: 10px;
        vertical-align: text-top;
    }
}

.type-task {
    margin-block-end: 30px;
    cursor: pointer;
    .type-task__btn-toDo {
        @include btn-style('../images/today.svg');
        &.active {
            @include btn-style('../images/today.svg', 'active');
        }
    }
}
.btn-settings {
    @include btn-style('../images/settings.svg');
    &.active {
        @include btn-style('../images/settings.svg', 'active');
    }
}
