@use 'colors' as *;

@mixin filter-item($color) {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $color;
}

.to-do {
    background-color: $color-content;
    min-width: 80vw;
    height: 100vh;
    border: 7px solid $color-bg;
    border-radius: 5px;
    padding: 5%;
    font-size: 18px;

    .to-do__heading,
    .to-do__slogan {
        color: $color-bg;
    }

    .to-do__heading {
        opacity: 0.8;
    }

    .to-do__slogan {
        font-size: 48px;
        margin-bottom: 50px;
    }
    .to-do__tasks-container {
        margin: auto;
    }

    .to-do__filter-input {
        display: flex;
        gap: 15px;
        margin-bottom: 50px;
    }

    .to-do__input-container {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        width: 60%;
        padding: 14px 17px;
        border-radius: 10px;
        background-color: $color-bg;
        box-shadow: 7px 7px $shadow-color;

        // .to-do__type {
        //     display: flex;
        //     align-items: center;
        //     gap: 5px;

        //     .to-do__type-item:nth-child(1) {
        //         @include filter-item(map-get($title-colors, item1));
        //     }

        //     .to-do__type-item:nth-child(2) {
        //         @include filter-item(map-get($title-colors, item2));
        //     }

        //     .to-do__type-item:nth-child(3) {
        //         @include filter-item(map-get($title-colors, item3));
        //     }
        //     .to-do__type-item:nth-child(4) {
        //         @include filter-item(map-get($title-colors, item4));
        //     }
        //     .to-do__type-item:nth-child(5) {
        //         @include filter-item(map-get($title-colors, item5));
        //     }
        // }

        .to-do_input {
            background-color: inherit;
            width: 100%;
            font-size: inherit;
            padding: 1%;

            &::placeholder {
                font-size: inherit;
                vertical-align: bottom;
            }
        }

        .to-do__actions {
            display: flex;
            gap: 15px;

            .to-do__time {
                font-family: 'Montserrat', serif;
                background-color: inherit;
                font-size: 18px;
            }
        }
    }

    .to-do__container-tasks {
        .to-do__task {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            width: 60%;
            padding: 14px 17px;
            border-radius: 10px;
            background-color: $color-bg;
            margin-bottom: 20px;
            box-shadow: 7px 7px $shadow-color;

            .to-do__title {
                &.item1 {
                    @include filter-item(map-get($title-colors, item1));
                }
                &.item2 {
                    @include filter-item(map-get($title-colors, item2));
                }
                &.item3 {
                    @include filter-item(map-get($title-colors, item3));
                }
                &.item4 {
                    @include filter-item(map-get($title-colors, item4));
                }
                &.item5 {
                    @include filter-item(map-get($title-colors, item5));
                }
            }

            .to-do__task-text {
                font-size: inherit;
                width: 100%;
            }
        }
        .to-do__done {
            transition: all 0.1s;
            &:hover {
                color: #852614;
            }
        }
    }

    .to-do__pagination {
        background-color: $color-bg;
        border: 10px;
        padding: 20px;
        box-shadow: 7px 7px $shadow-color;
        border-radius: 10px;
        color: $active-menu-item;
        display: flex;
        gap: 10px;

        .to-do__pagination-btn {
            font-weight: 900;
        }

        .to-do__pagination-page {
        }
    }
}

.filter {
    position: relative;
    background-color: $color-bg;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 7px 7px $shadow-color;
    cursor: pointer;

    .filter__btn {
        display: flex;
        gap: 5px;

        .filter__item:nth-child(1) {
            @include filter-item(map-get($title-colors, item1));
        }
        .filter__item:nth-child(2) {
            @include filter-item(map-get($title-colors, item2));
        }
        .filter__item:nth-child(3) {
            @include filter-item(map-get($title-colors, item3));
        }
    }

    .filter__dropdown-content {
        border-radius: 10px;
        padding: 20px;
        position: absolute;
        top: 85px;

        background-color: $color-bg;
        box-shadow: 7px 7px $shadow-color;

        .filter__dropdown-item {
            margin-bottom: 10px;

            &:nth-child(1) {
                @include filter-item(map-get($title-colors, item1));
            }
            &:nth-child(2) {
                @include filter-item(map-get($title-colors, item2));
            }
            &:nth-child(3) {
                @include filter-item(map-get($title-colors, item3));
            }
            &:nth-child(4) {
                @include filter-item(map-get($title-colors, item4));
            }
            &:nth-child(5) {
                @include filter-item(map-get($title-colors, item5));
                margin-bottom: 0;
            }
        }
    }
}

// * {
//     border: 1px solid darkmagenta;
// }
